.App {
  text-align: left;
  align-items: center;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 10vh 10vh 10vh 70vh;
  margin:auto 10%;
  overflow-y: hidden;
}
header{
  grid-area: 1/2/2/4;
  text-align: center;
  font-size: 5vw;
  border-bottom: 1px solid grey;
}

.todo_actions{
  width:2vw;
  height:auto;
}


.main_input{
  grid-area: 2/2/3/4;
  text-align: center;
  height:30%
}
.main_input input{
  width:50%;
  height:100%;
  font-size:1.5vw
}

.completed{
  grid-area: 4/4/-1/-1;
  height:100%;
  overflow-y:auto;
}


.header_name{
  width:15vw;
  font-size: 2vw;
}

.header_description{
  width:25vw;
  font-size: 2vw;
}

.header_actions{
  font-size: 2vw;
  width:10vw;
  margin-right: 2%;
}

.header_completed{
  grid-area: 3/4/4/-1;
  font-size: 2vw;
  margin-left: 10%;
}

.todos{
  grid-area: 4/1/-1/4;
  height:100%;
  overflow-y:auto;
}


.todo{
  display:flex;
  flex-direction: row;
  border-bottom:1px solid;
  border-image: linear-gradient(90deg, white,white,black,black,black,white, white) 1;
  width:100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.todo p{
  margin:2% 0%
}



.todo_name{
  width:15vw;
  font-size: 2vw;
}

.todo_description{
  font-size: 1.3vw;
  color:grey;
  width:25vw;
}
.todo_handlers{
  width:10vw;
  margin-right: 2%;
}

.todo_header{
  grid-area: 3/1/4/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.todo_completed{
  margin-left: 10%;
}
.todo_completed p{
  margin: 2% 0;
}
.todo_completed svg{
  width:1.3vw;
  height: auto;
}

.change_outer{
  display: none;
  position:fixed;
  top:0%;
  left:0%;
  z-index: 98;
  height:100vh;
  width:100vw;
  background-color: rgba(128, 128, 128, 0.541);
}

.change_inner{
  position: relative;
  width:35%;
  height:25%;
  left:50%;
  top:0%;
  transform: translate(-50%, 90%);
  background-color: white;
  align-items: center;
  text-align: center;
  padding-top: 5%;
}

.change_inner form{
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:80%;
  width:80%;
  z-index: 99;
}

.exit{
  position: absolute;
  right:0%;
  top:0%;
  text-align: right;
}

.submition{
  width:40%;
  margin: 0 auto;
}


.input_block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.input_block label{
  font-size: 1.2vw;
}

.input_block input{
  width:70%;
}


.show{
  display: block;
  transform: translate(0%, 0%);
}


@media (orientation:portrait) {
  .todo_actions{
    width:3vw;
  }
  .App{
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 5vh 3vh 5vh 70vh;
    margin:auto 3%;
  }
  .todo_name{
    font-size: 3vw;
  }
  .todo_description{
    font-size: 2vw;
    color:grey;
  }
  .todo_handlers, .header_actions{
    width:23vw;
  }
  .todo_completed p{
    font-size: 2.5vw;
  }
  .todo_completed svg{
    width:2.5vw;
    height: auto;
  }
  .main_input input{
    width:80%;
    height:100%;
    font-size:3vw
  }
  .main_input{
    height:50%;
  }
  .change_inner{
    width:70%;
    height:20%;
    transform: translate(-50%, 140%);
    padding-top: 10%;
  }
  .input_block label{
    font-size: 2.5vw;
  }
  .todo p{
    margin:5% 0;
  }
}
